[{amqp_param, [ 
  {username, <<"guest">>},
  {password, <<"V2pOV2JHTXpVVDA9">>},
  {virtual_host, <<"/">>},
  {host, "192.168.3.202"},
  {port, 5672}]
 },
{feeders, [
    {channel_count,5},
    {exchange, <<"im.conversation">>},
    {queue_count, 5},
    {queue, <<"chat">>},
    {routing_key,<<"spark.chat">>},
    {type, <<"topic">>},
    {exclusive, false},
    {durable, false},
    {callback_mod, test}]
 },
  {transform_module, test},
  {restart_timeout, 5000}
].
